{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
    {% for post in posts %}
    	<a href="{{url_for('post', post_id=post['id'])}}">
    		<h2>{{ post['title'] }}</h2>
    	</a>
    	<span class="badge badge-warning">Written by: {{ post['author'] }}</span><br>
    	<span class="badge badge-success">(posted on: {{ post['create_time'] }})</span>
    	 <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-primary">Edit</span>
   <a href="{{ url_for('delete', id=post['id']) }}">
            <span class="badge badge-danger" onclick="return confirm('Are you sure you want to delete this post?')">Delete</span>
        </a>
    	<hr>
    {% endfor %}
{% endblock %}
